.tweet-card {
   display: flex;
   padding: 15px;
   border: 1px solid #ccc;
   border-radius: 8px;
   margin-bottom: 10px;
}

.avatar {
   width: 48px;
   height: 48px;
   background-color: #ddd;
   border-radius: 50%;
   margin-right: 12px;
}

.tweet-content {
   flex: 1;
}

.tweet-header {
   display: flex;
   justify-content: flex-start;
   gap: 5px;
   align-items: center;
   margin-bottom: 20px;
}

.username {
   font-weight: bold;
}

.timestamp {
   color: #606464;
}

.tweet-text {
   margin-bottom: 15px;
}

.actions {
   display: flex;
   justify-content: space-between;
   margin-right: 40px;
}

.acountActions {
   display: flex;

   gap: 5px;
}
